body {
  min-height: 500vh;
  padding-top: 80px;
}

nav {
  height: 80px;
  width: 100%;
  background: #16161d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.square {
  width: 100px;
  height: 100px;
  background: tomato;
  position: absolute;
  left: 300px;
  top: 200px;
}

p {
  position: relative;
  top: 0px;
}

button {
  position: relative;
  top: 0px;
  transition: top 0.3s;
}

button:hover {
  top: -3px;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: dodgerblue;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

img {
  position: relative;
  z-index: 2;
}
