body {
  font-family: sans-serif;
}

img {
  width: 200px;
  transition: width 1s;
  border: 3px solid black;
}

img:hover {
  width: 300px;
}

div img {
  border: 5px solid red;
}

.steve {
  border: 10px solid green;
}

a {
  font-weight: bold;
  color: #ff0000;
}

ol {
  color: blue;
}

ul {
  color: purple;
}
